@tailwind base;
@tailwind components;
@tailwind utilities;



.shadowIframe{
  box-shadow: 0px 0px 50px -3px rgba(0,0,0,0.1);
}

@media screen and (max-width:640px) {
  .mobileDv{
    width: 100%;
    right: 0;
    bottom: 0;
    height: 80%;
  }
  .opacityButton{
    opacity: 0.6;
  }
}